p{
	color:white;
	font-family:Helvetica;
	text-align:center;
}

h1{
	text-align:center;
	font-family:Helvetica, Courier;
	color:white;
	/*makes it so that the text doesn't take up more than one line.*/
	/*white-space:nowrap*/

}
/*float properties - left, right, none(default), inherit */
/* to clear, clear:both, clear also has properties - left, right, both, none, and inherit*/
img{
	position:relative;
	width:60px;
	height:60px;
	border:2px solid black;
	float:left;/* this is ultimately what enabled me to have images close to each other
	/*
	width:60px;
	height:60px;
	border:1px solid black;*/
}

html, body{
   margin:0px;
   padding:0;
   height:100%;
   background-color:#4b4b4b;
   background-color:white;
}


#header{
	position:absolute;
	width:50%;
	margin-left:25%;
	height:60px; /* height of footer*/
	background:#3d3d3d;
	padding-right:1em;
	padding-bottom:.5em;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
}

#body{
	padding:100px;
	padding-bottom:60px; /*height of the footer*/
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px; /* height of footer*/
	background:#3d3d3d;
	white-space:nowrap;

}
