p{
	color:#3d3d3d;
	font-family:Courier;
}

h1{
	text-align:center;
	font-family: Courier;
	color:white;
	/*makes it so that the text doesn't take up more than one line.*/
	/*white-space:nowrap*/

}
/*float properties - left, right, none(default), inherit */
/* to clear, clear:both, clear also has properties - left, right, both, none, and inherit*/
img{
	position:relative;
	width:60px;
	height:60px;
	border:2px solid black;
	margin:0px;
	float:none;/* this is ultimately what enabled me to have images close to each other
	/*
	width:60px;
	height:60px;
	border:1px solid black;*/
}

html, body{
   margin: 0px auto;
   padding:0;
   height:100%;
   background-color:#f0eedd;
   text-align:center;
}

#container{
	min-height:100%;
	position:relative;
}

#header{
	position:absolute;
	width:50%;
	margin-left:25%;
	height:60px; /* height of footer*/
	background:#3d3d3d;
	padding-right:1em;
	padding-bottom:.5em;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	text-align:center;
}

#left{
	position:absolute;
	left:-120px;
	float:left;
	text-align:right;
}

#right{
	position:absolute;
	left:102%;
	top:0px;
	float:right;
	text-align:left;
}

#body{
	margin: 0px auto;
	/*height: 70%;*/
	padding:70px;
	/*padding-left:50px;*/
	padding-bottom:60px; /*height of the footer*/
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px; /* height of footer*/
	background:#3d3d3d;
	/*white-space:nowrap;*/
	clear:both;
}